<<<<<<< HEAD
#top {
  width: 800px;
  background-color: #dcc9f4;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

#top p.top-child {
  width: 20%;
  background-color: #ffd9df;
  display: inline-block;
}

/*#middle {*/
/*  margin-right: auto;*/
/*  margin-left: auto;*/
/*  width: 800px;*/
/*  height: 800px;*/
/*  background-color: #ffd9df;*/

/*}*/

/*.middle-child01 {*/
/*  padding-top: 100px;*/
/*  padding-left: 100px; */
/*  background-color: #87ceeb;*/
/*}*/

/*.middle-child02 {*/
/*  padding-top: 300px;*/
/*  padding-left: 300px; */
/*  background-color: #87ceeb;*/
/*}*/

/*.middle-child03 {*/
/*  padding-top: 500px;*/
/*  padding-left: 500px; */
/*  background-color: #87ceeb;*/
/*}*/

#middle {
  width: 800px;
  height: 800px;
  margin: 20px auto;
  background-color: #ffd9df;
  position: relative;
}

.middle-child01,
.middle-child02,
.middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
}

.middle-child01 {
  top: 100px;
  left: 100px;
}

.middle-child02 {
  top: 300px;
  left: 300px;
}

.middle-child03 {
  top: 500px;
  left: 500px;
}

#bottom {
  width: 800px;
  height: 300px;
  margin: 20px auto;
  background-color: #87ceeb;
  position: relative;
}


.bottom-child01 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  /*position: absolute;*/
  margin-top: 0;
  margin-bottom: 0;
}

.bottom-child02 {
  width: 400px;
  height: 100px;
  margin-left: 200px;
  background-color: #e5dcf0;
  /*position: absolute;*/
  margin-top: 0;
  margin-bottom: 0;
}

.bottom-child03 {
  width: 400px;
  height: 100px;
  margin-left: 400px;
  background-color: #e5dcf0;
  /*position: absolute;*/
  margin-top: 0;
  margin-bottom: 0;
=======
/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓*/
/*PC用のstyle*/
/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓*/

body {
  font-size: 20px;
}
h1 {
  color: rgb(255,255,255);
}
header {
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents img {
  margin: 10px 0;
  width: 70%;
}  

h1, p, body {
  margin: 0;
}

p, a {
  font-size: 20px;
}

main {
  margin: 10px;
}

#parent {
  display: flex;
  justify-content: space-between;
}

.contents {
    /* 四角要素を囲む線の設定 */
    border: 3px solid rgb(238, 204, 204); 
    /* 親要素の25%の幅にする設定 */
    flex-basis: 25%; 
    /* 要素内の余白（パディング）を上下10px、左右15pxに設定 */
    padding: 10px 15px; 
    /* 要素外の余白（マージン）を上下20px、左右0に設定 */
    margin: 20px 0; 
    /* 中の要素が中央揃えになるように設定 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
}

h2::before {
  content: '\25CF';
  color: rgb(239, 111, 139);
}

.contents p:nth-of-type(2)::first-letter{
  font-weight:  bold;
  color: rgb(97, 206, 249);
} 

footer {
  background-color: rgb(244, 79, 79);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: rgb(255, 255, 255);
}

footer a:hover {
  color: rgb(245, 178, 168);
}

footer a:visited {
  color: rgb(193, 234, 251);
}

/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓*/
/*スマホ用のstyle（media Queries 768）*/
/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓*/
@media screen and (max-width: 768px) {
  body {
    font-size: 25px;
  }
  
  h2 {
  font-size: 30px;
  }
  
  p {
  font-size: 25px;
  }
  
  #parent {
    display: flex;
    flex-direction: column;
  }
>>>>>>> 363515a (20230730)
}